h1{ 
    color:red;
    font-family: 'Abril Fatface', cursive;
    font-weight:normal;
    font-size: 70pt;
    }
 h2{
        color: white;
        border:grey 1px; 
        font-family:'Oswald', sans-serif;
        font-weight:bold; font-size: 11pt; 
        border: none;
       }
 

body{ 
    background-color: white;
    margin: 10px 5px 10px 5px;

}
.TitIndex{
    font-size: 100px;
    font-family:'permanent marker', cursive; 
    color: red;
    background-color:none;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content:flex-start;
    position: absolute;
    top:400px;
    left: 100px;
    right: 0px;
    margin: 0px;
}
div { background-color:none;
     margin: 1px;
     width:100%;
    
    }
section{ 
        background-color: white;
        width:100%;
        margin: 60px 10px 10px;
}

.container-fluid{
           
           margin:0px;
           align-content: center;
           width:100%;
           background: white;
        }
