
h1{ 
    color: red;
    font-family: 'Abril Fatface', cursive;
    font-weight:normal;
    font-size: 70pt;
    }
 h2{
     color: white;
     border:grey 1px; 
     font-family:'Oswald', sans-serif;
     font-weight:bold; font-size: 11pt; 
     border: none;
    }
 h3 {
     color: white;
     font-family: 'Oswald', sans-serif;
     font-size: 15pt;
    }
 p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
   }
 li { 
     color: white;
    }
 body{
       background-color: black;
     }
 table{
       color: black; 
       font-family: Helvetica, sans-serif;
      }
 form {
      color: white;
      font-family: 'Oswald', sans-serif;
      }
 label{ 
    color: white;
    font-family: 'Oswald', sans-serif;
      }
