<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Rolling Stones</title>
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
</head>
 <body class="bodydisco container-fluid">
    <header class="container-fluid">
        <nav class="menu">
            <div class="tituloview">The Rolling Stones</div>
            <ul>
                <li class="shake-opacity"><h2><a href="../index.html" >INICIO</a></h2></li> 
                <li class="shake-opacity"><h2><a href="historia.html">HISTORIA</a></h2></li>
                <li class="shake-opacity"><h2><a href="discos.html" >DISCOGRAFIA</a></h2></li>      
                <li class="shake-opacity"><h2><a href="">VIDEOS</a> </h2> </li>  
                <li class="shake-opacity"><h2><a href="">IMAGENES</a></h2></li>    
                <li class="shake-opacity"><h2><a href="shop.html">SHOP</a></h2> </li>
                <li class="shake-opacity"><h2><a href="">INICIAR SESION</a></h2> </li>
               </ul>
         </nav>  
    </header>
    

    <div class="titdisco" >DISCOGRAFIA</div>
    <div>
         <ul class="uldisco">
            <iframe class="iframe" src="https://open.spotify.com/embed/album/0bJMFJ2XQwpO5nKTrYdUtX" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/2Hnje5QVKaPVNuGJ5yHC7Z" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/0MDhZ0yRkugNEg7PmMMUE8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/592dKHbXtiglWyt8AEet23" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/2Q5MwpTmtjscaS34mJFXQQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/2p2xSwHP4rTPzNCaOveDIP" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/72qrnM4yUNMDDlWiqKc8iY" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/4WDkr1K4fZSPpS2qxRhRUm" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/36BIYdP4WtviD9Ngqc4SK5" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/0z2AF60sMpBcIrWh797cBi" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/2SE7fs002NlNc3cw3SQLRC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/6OHri5qNxwCdVSdyCslspd" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/47hOpZQfXVIRzTiv0Ef8pO" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/2EPa1og1S4URMd6mEpU9uJ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/4flw1L8widdDehQ4BYHQvO" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <iframe class="iframe" src="https://open.spotify.com/embed/album/0ucOpNNckY0op5B1yfW6pv" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        
        </ul>
    </div>






    <table class="tabdisco1" cellpadding="10px" cellspacing="0px">
    
        <tr>
        <th>Fecha de lanzamiento</th>
        <th>Título</th>
        <th>Ventas en EE. UU.</th>
        <tr>
            <td >16 de abril de 1964</td>
            <td >The Rolling Stones (álbum)</td>
            <td >500 000</td>
        <tr>
            <td>17 de octubre de 1964</td>
            <td>12 x 5 (Solo en EE.UU.) </td>
            <td>500 000</td>
        <tr>
            <td>15 de enero de 1965</td>
            <td><i>The Rolling Stones No.2</i></td>
            <td>500 000</td>
        <tr>
            <td>13 de febrero de 1965</td>
            <td><i>The Rolling Stones, Now!</i></td>
            <td>500 000</td>
        <tr>
            <td>30 de julio de 1965</td>
            <td>Out of Our Heads</td>
            <td>Un millón</td>
        <tr>
            <td>4 de diciembre de 1965</td>
            <td>December's Children (And Everybody's)</td>
            <td>500 000</tr>
        <tr>
            <td>20 de junio de 1966</td>
            <td>Aftermath</td>
            <td>500 000</td>
       
        <tr>
           <td>11 de febrero de 1967</td>
           <td>Between the Buttons</td>
           <td>500 000</td>
        </table>
        <script src="js/scripts.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
            
</body>
</html>